.navbar {
    width: 100%;
    padding: 50px 0px;
    position: absolute;
}

.overlay {
    transition: transform .5s ease-in-out;
    position: absolute;
    background: #414043;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transform: scale(0)
}

.overlay.open-enter-active {
    transform: scale(1)
}
.overlay.open-enter-done {
    transform: scale(1)
}
.overlay.open-exit-active {
    transform: scale(0)
}
.overlay.open-exit-done {
    transform: scale(0)
}

.overlay .exMark {
    position: absolute;
    height: 50px;
    width: 50px;
    background: #fff;
}

.overlay ul {
    position: relative;
    z-index: 99999;
    padding: 0;
    margin: 0;
    text-align: center;
}

.overlay ul li {
    margin: 70px 0px;
}

.overlay ul li a {
    color: #fff;
    font-size: 3rem;
    font-family: 'Quicksand-Regular'
}