@font-face {
  font-family: 'Quicksand-Regular';
  src: url('./assets/fonts/Quicksand-Regular.otf');
}
@font-face {
  font-family: 'Quicksand-Bold';
  src: url('./assets/fonts/Quicksand-Bold.otf');
}
@font-face {
  font-family: 'Quicksand-BoldItalic';
  src: url('./assets/fonts/Quicksand-BoldItalic.otf');
}
@font-face {
  font-family: 'Quicksand-Light';
  src: url('./assets/fonts/Quicksand-Light.otf');
}
@font-face {
  font-family: 'Quicksand-LightItalic';
  src: url('./assets/fonts/Quicksand-LightItalic.otf');
}
@font-face {
  font-family: 'Quicksand-Italic';
  src: url('./assets/fonts/Quicksand-Italic.otf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand-Regular';
  color: #333;
  margin: 0;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: #333
}

p {
  font-family: 'Quicksand-Regular';
  color: #333
}

.container {
  width: 60%;
  margin: 0 auto;
  height: 100%;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar .container .right {
  position: relative;
  top: 15px;
  height: 40px;
  width: 40px;

}

.navbar .container .right span {
  position: absolute;
  width: 40px;
  height: 4px;
  background: #fff;
  transition: .5 ease-in-out top;
}

.navbar .container .right span:nth-child(2) {
  top: 12px;
}

.navbar .container .right span:nth-child(3) {
  top: 24px;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.home header {
  background-size: 1920px;
  height: 800px;
  width: 100%;
}

.home header .container .text {
  position: relative;
  width: 60%;
  top: 35%
}

.home header .container .text h1 {
  color: #fff;
  font-size: 4rem;
}

.home section.one .button img {
  border-radius: 50%;
  animation: pulse 2s infinite;
}

.home section.one {
  height: 500px;
  background: #fff;
}

.home section.one .container .wrapper{
  margin: 150px 0;
}

.home section.one .container .wrapper h1 {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  font-size: 2rem;
  color: #404044;
}

.home section.one .container .wrapper h1 span{
  font-family: "Quicksand-Light";
}

.home section.one .container .wrapper .button {
  text-align: center;
  position: relative;
  padding: 50px 0px;
}

.home section.one .container .wrapper .button a img{
  border: 20px solid #79efb45b;
}